<form method="post" action="/users/register">
  <div>
    <label for="username"> Your name:
      <input name="username" id="username"/>
    </label>
  </div>
  <div>
    <label for="password"> Choose your password:
      <input type="password" id="password" name="password" />
    </label>
  </div>
  <button type="submit">Register</button>
</form>